In [6]:
import requests
import pandas as pd
import json
import ssl

In [2]:
API_KEY = "d59cc113c174ecdcfa617ba184813275"

In [3]:
url = f"http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key={API_KEY}"  #Make sure to change ******* to your API key.

In [ ]:
content = requests.get(url).text
js = json.loads(content)
js

In [22]:
df = pd.DataFrame(js)
df
df1=df.drop(df.columns[[0,1,2,3]], axis=1)

In [23]:
df1.head()

          rates
AED    3.850791
AFN   82.264895
ALL  106.592958
AMD  412.091081
ANG    1.901694

In [24]:
df1.to_csv('exchanges_rates_1.csv')