In [1]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

In [9]:
html_data = requests.get("https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks").text

In [18]:
soup = BeautifulSoup(html_data, 'html.parser')

In [35]:
tbodys = soup.find_all('tbody')

trs = tbodys[2].find_all('tr')

cols = trs[1].find_all('td')

new_row = pd.DataFrame([{
    'Name': cols[1].text.strip(),
    'Market Cap (US$ Billion)': cols[2].text.strip()
}])
new_row

             Name Market Cap (US$ Billion)
0  JPMorgan Chase                  390.934

In [39]:
df = pd.DataFrame(columns= ['Name', 'Market Cap (US$ Billion)'])

for row in soup.find_all("tbody")[2].find_all('tr'):
    cols = row.find_all('td')

    if len(cols) == 0:
        continue
    else:
        new_row = pd.DataFrame([{
            'Name': cols[1].text.strip(),
            'Market Cap (US$ Billion)': cols[2].text.strip()
        }])

        df = pd.concat([df, new_row], ignore_index=True)

In [38]:
df

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                  390.934
1   Industrial and Commercial Bank of China                  345.214
2                           Bank of America                  325.331
3                               Wells Fargo                  308.013
4                   China Construction Bank                  257.399
..                                      ...                      ...
65                             Ping An Bank                   37.993
66                       Standard Chartered                   37.319
67                     United Overseas Bank                   35.128
68                                QNB Group                   33.560
69                              Bank Rakyat                   33.081

[70 rows x 2 columns]

In [40]:
df.to_json('bank_market_cap.json')